*{
    margin: 0;
    padding: 0;
}


.navegacao{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;

}


.navegacao.logo{
    
    
}
